html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #B04B4B;
}

.container-fluid {
  font-family: "Kdam Thmor Pro", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: indianred;
  width: 100vw;
}

.text-container {
  margin-left: 10px;
}

.container-fluid img[src="imagenes/user.png"] {
  margin-left: auto;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.caption-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel-inner img {
  object-fit: contain;
  height: 70vh;
  width: 100%;
}

.hidden {
  display: none;
}

.carrito {
  border: 1px solid white;
  width: calc(100% - 120px);
  color: white;
  padding: 10px;
  margin: 60px;
}

.producto {
  margin-bottom: 10px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.carrito .productos {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
}

#totalContainer {
  padding-right: 20px;
}

.creditos {
  position: fixed;
  bottom: 10px; 
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}